/* app css stylesheet */

html {
    background-color: transparent !important;
}

body {
    font-family: 'Kanit', sans-serif !important;
    background: url(/assets/background.jpg) left bottom no-repeat fixed;
    background-size: 130% 130%;
    width: 100%;
    height: 100%;
}

#toolbar {
    height: 70px;
    border-bottom: 2px solid #EE7033;
    background-color: white;
}

.logo {
    background: url(/assets/logo.jpg) no-repeat center center;
    background-size: contain;
    height: -webkit-fill-available;
    width: 32%;
    position: relative;
    left: 5%;
    max-width: 330px;
}

#peach-transitions-home {
    height: 100vh;
    text-align: center;
}

#page-container {
    display: inline-block;
    position: relative;
    width: 90vw;
    height: 80vh;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}

.transfer-container {
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    padding: 0 !important;
    margin-right: 50px;
    margin-bottom: 25px;
    min-width: 260px;
}

.transfer-content {
    margin-top: 50px;
    text-align: left;
}

.transfer-toolbar {
    height: 40px;
    background-color: #0C8397;
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: transparent;
}

.md-input[disabled] {
    border-bottom: 2px solid #D6D2CE !important;
    background-image: none !important;
}

md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: rgba(0, 0, 0, 0.8);
}

md-input-container .md-input {
    color: #8F8C88;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #0C8397;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #0C8397 !important;
    color: #8F8C88;
}

.layout-gt-xs-row {
    width: 85%;
    display: flex;
    margin: auto;
}

.transfer-icon {
    width: 50px;
    height: 40px;
    background: url(assets/icons/exchange.png) no-repeat center center;
    background-size: 50% 80%;
    filter: opacity(0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.transfer-title {
    width: 100%;
}

.action-footer {
    text-align: right;
}

.md-button.submit-btn {
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #EE7033;
    width: 60%;
    max-width: 160px;
}

.history-container {
    background-color: #FFFFFF;
    padding: 0 !important;
    top: 0;
    right: 0;
}

.history-toolbar-container {
    height: 60px;
    background-color: #0c8397;
}

.history-toolbar {
    display: inline-block;
    padding: 10px;
}

.history-icon {
    width: 60px;
    height: 60px;
    background: url(assets/icons/suitcase.png) no-repeat center center;
    background-size: 60% 60%;
    filter: opacity(0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.history-title {
    width: 100%;
}

.history-utilities {
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-container {
    text-align: left;
    display: inline-block;
    height: 60px;
}

.md-button.clear-btn {
    position: absolute;
    color: #8F8C88;
    margin: 0 !important;
}

md-input-container:not(.md-input-invalid).md-input-focused md-icon {
    color: #8F8C88;
}

.sort-container {
    padding: 0 !important;
}

.label-container {
    text-align: left;
    display: inline-block;
    max-width: 50px;
    margin-right: 15px;
}

.sort-btn-container {
    display: inline-block;
    max-width: 350px;
    padding: 10px;
}

.md-button.sort-btn {
    border-radius: 0;
    border: 1px solid #8F8C88;
    margin: 0 -2px;
    border-collapse: collapse;
}

.md-button.sort-btn:first-child {
    margin: 0 -2.6px;
}

.md-button.sort-btn:last-child {
    margin: 0 -2.7px;
}

md-list {
    padding: 0;
}

md-content {
    width: 100%;
    background-color: transparent;
}

.md-3-line {
    min-height: 70px !important;
    max-height: 70px !important;
    height: 70px !important;
}

md-list-item {
    padding: 0 !important;
    margin: 0 15px;
    border-right: 1px solid #E0E0E0;
}

md-list-item:first-child {
    border-top: 1px solid #E0E0E0;
}

#transaction-repeater {
    min-height: 400px;
    height: 55vh;
}

table {
    width: 100%;
}

tr {
    height: 70px;
}

.transaction-code {
    min-width: 10px !important;
    max-width: 10px !important;
    height: 70px;
}

.merchant-name {
    font-weight: bold;
}

.transaction-details {
    text-align: left;
}

.transaction-amount {
    font-weight: bolder;
}

.merchant-logo {
    width: 50px;
    filter: grayscale();
}

.search-input {
    width: 90%;
}

@media only screen and (min-height: 1000px) {
    #transaction-repeater {
        min-height: 400px;
        height: 65vh;
    }
    #toolbar {
        height: 90px;
    }
}

@media only screen and (max-width: 480px) {
    #toolbar {
        height: 60px;
    }
    .logo {
        width: 200px;
    }
    md-input-container {
        width: 100%;
        font-size: 12px;
    }
    .history-utilities {
        height: 150px;
    }
    .md-button.sort-btn {
        font-size: 10px;
    }
    .transfer-container {
        margin-right: 0;
    }
    .transaction-code {
        min-width: 10px !important;
        max-width: 10px !important;
        height: 70px;
    }
}
