<div id="peach-transitions-home">

  <!-- TOOLBAR -->
  <div id="toolbar">
    <md-toolbar>
      <div class="logo"></div>
    </md-toolbar>
  </div>

  <!-- CONTENT CONTAINER  -->
  <div id="page-container">

    <!-- TRANSFER -->
    <div class="col-md-3 col-sm-12 transfer-container">
      <div class="transfer-toolbar">
        <md-toolbar>

          <div class="transfer-icon"></div>

          <div class="transfer-title">
            <h4>Make a transfer</h4>
          </div>

        </md-toolbar>
      </div>

      <!-- TRANSFER CONTENT -->
      <div class="transfer-content">
        <form name="transferForm">

          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{transaction.fromAccount.title | uppercase}}</label>
              <input value="{{transaction.fromAccount.accountName}} ({{transaction.fromAccount.accountNumb}}) - ${{transaction.fromAccount.balance}}" disabled>
            </md-input-container>
          </div>

          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{transaction.toAccount.title | uppercase}}</label>
              <input ng-model="transaction.toAccount.value" required>
            </md-input-container>
          </div>

          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{transaction.amount.title | uppercase}}</label>
              <input ng-model="transaction.amount.value" ng-currency currency-symbol="$" required ng-click="cleanAmount()">
            </md-input-container>
          </div>

        </form>

        <div class="action-footer">
          <md-button class="md-raised submit-btn" ng-click="checkBalance()" ng-disabled="transferForm.$invalid">SUBMIT</md-button>
        </div>

      </div>
    </div>

    <!-- TRANSACTION HISTORY -->
    <div class="col-md-8 col-sm-12 history-container">
      <div class="history-toolbar-container">
        <md-toolbar class="history-toolbar">

          <div class="history-icon"></div>

          <div class="history-title">
            <h4>Recent Transaction</h4>
          </div>

        </md-toolbar>
      </div>

      <!-- UTILITIES -->
      <div class="history-utilities">

        <div class="search-container col-md-5 col-xs-11">
          <md-input-container class="md-block search-input" flex-gt-xs>
            <label>Search by typing...</label>
            <input ng-model="query">
            <md-button class="md-icon-button clear-btn" ng-if="query.length" ng-click="cleanQuery()">
              <md-icon class="fa fa-times"></md-icon>
            </md-button>
          </md-input-container>
        </div>

        <div class="sort-container col-md-7 col-xs-12">

          <div class="label-container">
            <span><strong>Sort by</strong></span>
          </div>

          <div class="sort-btn-container">
            <md-button class="sort-btn" ng-click="sortBy('transactionDate')">
              DATE
              <md-icon ng-if="buttonIcons.transactionDate.asc" md-svg-icon="assets/icons/ic_arrow_drop_down_black_24px.svg"></md-icon>
              <md-icon ng-if="buttonIcons.transactionDate.desc" md-svg-icon="assets/icons/ic_arrow_drop_up_black_24px.svg"></md-icon>
            </md-button>
            <md-button class="sort-btn" ng-click="sortBy('merchant')">
              BENEFICIARY
              <md-icon ng-if="buttonIcons.merchant.asc" md-svg-icon="assets/icons/ic_arrow_drop_down_black_24px.svg"></md-icon>
              <md-icon ng-if="buttonIcons.merchant.desc" md-svg-icon="assets/icons/ic_arrow_drop_up_black_24px.svg"></md-icon>
            </md-button>
            <md-button class="sort-btn" ng-click="sortBy('amount')">
              AMOUNT
              <md-icon ng-if="buttonIcons.amount.asc" md-svg-icon="assets/icons/ic_arrow_drop_down_black_24px.svg"></md-icon>
              <md-icon ng-if="buttonIcons.amount.desc" md-svg-icon="assets/icons/ic_arrow_drop_up_black_24px.svg"></md-icon>
            </md-button>
          </div>

        </div>
      </div>

      <!-- HISTORY CONTENT -->
      <div class="history-content">
        <md-content>
          <md-list>
            <md-virtual-repeat-container id="transaction-repeater">

            <md-list-item class="md-3-line" md-virtual-repeat="transaction in history | filter:{ merchant: query }">
              <div class="md-list-item-text">
                <table>
                  <tr>
                    <td class="transaction-code" style="background-color:{{transaction.categoryCode}};"></td>

                    <td class="transaction-date col-md-2 col-xs-2">
                      {{transaction.transactionDate | date:'MMM. dd'}}
                    </td>

                    <td class="transaction-logo col-md-2 col-xs-2" ng-if="!isMobile">
                      <img class="merchant-logo" src="{{transaction.merchantLogo}}"/>
                    </td>

                    <td class="transaction-details col-md-6 col-xs-6">
                      <div class="row merchant-name">
                        {{transaction.merchant}}
                      </div>

                      <div class="row transaction-type">
                        {{transaction.transactionType}}
                      </div>
                    </td>

                    <td class="transaction-amount col-md-2 col-xs-2">
                      {{transaction.amount | currency:"-$ ":2}}
                    </td>
                  </tr>
                </table>
              </div>

              <md-divider></md-divider>
            </md-list-item>
          </md-virtual-repeat-container>
          </md-list>

        </md-content>
      </div>

    </div>

  </div>



</div>
